.portada {
  position: relative;
  width: 100%;
  height: 480px;
}
.icons {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: contain;
    vertical-align: middle;
    color: transparent;
    border: 0;
}

.bg-portada {
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;
    background-size: cover;
}

.icon--hero-bg {
  height: 434px;
  background-position: right bottom;
}

.icon--hero {
  background-position: center;
}

.portada .icon--hero-park {
  left: -35%;
  bottom: 16px;
  width: 100%;
  height: 216px;
}

.icon--hero-bench {
  right: -28%;
  bottom: 16px;
  width: 148px;
  height: 49px;
}

#portada .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 480px;
}
.portada .logo {
  width: 120px;
  margin: 0 auto 10px;
}

.row-button {
  padding: 30px;
}

.btn-get {
  background: #3498DB;
  padding: 14px 35px;
  border-radius: 25px;
}
/*2da Section*/
.how-it-works {
  background: #f9f9f9;
  margin-top: -70px;

}
.circle {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  margin: 42px auto 0;
  position: relative;
  background: #F8D66E;
}

.circle i[class|="icons icon--step"] {
  position: absolute;
  top: 10%;
  left: 12%;
  width: 175px;
  height: 175px;
}

.how-it-works .text {
  margin-top: 5%;
}
/*our promise*/
.panel-group  {
  margin-top: 20px;
  margin-bottom: 0;
}

.panel-default > .panel-heading {
  background: none;
  position: relative;
  padding: 20px 20px 20px 14px;
}
.panel-group .panel+.panel {
    margin-top: 0px;
    border-top: none;
    border-radius: 0;
}
.panel-heading i[class|="icons icon--feature"] {
  position: absolute;
  top: 5px;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: #6ea43f;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\e114";
}
.panel-title a {
  text-decoration:none;
  color: #6ea43f;
  margin-left: 56px;
}

/*Our community*/
.our-community{
  background: #75B9E7;
  color: #fff !important;
  position: relative;
  padding-bottom: 200px;
}

.avatar-photograpy {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.jessica{
  background-image: url("../images/testimonials.jpg");
}
.nic{
  background-image: url("../images/testimonials.jpg");
  background-position: bottom;
}
.renee{
  background-image: url("../images/testimonials.jpg");
  background-position: center;
}
.avatar-section {
  margin: 30px 0;
}
.our-community:after {
  content: 'â€';
  position: absolute;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
  opacity: 0.025;
  font-size: 1500px;
  font-size: 107rem;
  line-height: 1500px;
  line-height: 107rem;
  bottom: -620px;
  right: -10px;
}

.text-stars i {
  width: 120px;
  height: 30px;
}

/*Cleaning Checklist*/
.cleaning-checklist {
  background: #3498db;
}

.gallery img {
  width:178px;
  height: 178px;
}

.image-column .zindex2 {
  position: relative;
  top: -130px;
  z-index: 2;
}
.image-column .zindex1 {
  position: absolute;
  top: -130px;
  z-index: 1;
  margin: 0 40px;
}

.image-column .rotate-ah {
  transform: rotate(-3deg);
}

.image-column .rotate-h {
  transform: rotate(5deg);
}
.image-column .rotate-ah:hover {
  transform: rotate(5deg);
}
.image-column .rotate-h:hover {
  transform: rotate(-5deg);
}

.checklist {
  position: relative;
  color: #656565;
}

.checklist::after, .checklist::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 1px;
  height: 100%;
  z-index: 1;
  background-color: #ecbbb6;
}
.checklist::after {
  content: "";
  left: 62px;
}
.checklist-title {
  z-index: 3;
  text-align: center;
}
.list-group-item {
  padding: 10px 0 10px 25px;
}
.list-group-item div {
  color: #87bf57;
  float: left;
  width: 30px;
  height: 30px;
}
.list-group-item p {
  padding: 0 20px 0 45px;
  margin: 0;
}

/*Get Your Quote*/
.get-your-quote {
  background: #eee;
}

.row-quote-items {
  border-bottom: 1px solid #c3c3c3;
  width: 80%;
}
.row-quote-items>div{
  margin-bottom: 30px;
}
.row-quote-items .quote-items{
  height: 60px;
  margin-top: 20px;
}

.checkbox-quote-items .quote-items {
  border-bottom: 1px solid #c3c3c3;
  width: 102%;
}

.quote-items .checkbox input{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 20px;
}

.quote-items .checkbox em {
  display: block;
}

.row-button .btn-bg-succes {
  padding: 10px 30px;
  font-size: 1.4em;
  border-radius: 25px;
}

/*Footer*/

footer{
  background: #3498db;
  color: #fff;
  padding-bottom: 70px;
}

.row-logo img {
  width: 120px;
  height: 60px;
}

.footer-container .row-links {
  margin-top: 50px;
}
.footer-container .row-links a{
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.footer-container .row {
  padding-top: 20px;
}

/*Medias Query*/

@media screen and (min-width:500px) {
  .portada .icon--hero-park {
    left: 0;
  }
  .icon--hero-bench {
    right: 0;
  }
}

@media screen and (min-width:768px) {
  .portada {
    height: 98vh;
  }
  .bg-portada {
      height: 96vh;
      background-size: cover;
  }

  .icon--hero-bg {
    height: 88vh;
    background-position: right bottom;
  }

  .portada .icon--hero-park {
    left: 10%;
    bottom: 36px;
    height: 316px;
  }

  .icon--hero-bench {
    right: 20%;
    height: 69px;
    bottom: 38px;
  }
  .portada-title h2 {
    font-size: 4.8em;
    font-weight: bold;
  }

  .portada-title h4 {
    font-size: 2em;
  }
  .btn-get {
    border-radius: 30px;
    font-size: 1.8em;
  }

  /*our-community*/
  .our-community .txt-title {
    font-size: 1.2em;
  }
  .text-stars {
    font-size: 1.2em;
    text-align: left;
    font-weight: normal;
  }

  .avatar-section {
    margin-top: 50px;
  }
  /*checklist*/
  .height-lg .list-group {
    height: 600px;
  }

  .section-checklist .txt-title {
    margin-bottom: 30px;
  }
  /*get-your-quote*/

  .row-quote-items .extras {
    height: 70vh;
  }
}

@media screen and (min-width:1000px) {
  .gallery img {
    width:231px;
    height: 231px;
  }
}

@media screen and (min-width:1200px) {
  .gallery img {
    width:278px;
    height: 278px;
  }
}
